


<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>



<style>

    .pot_0 {
        background: lightgreen;
        color: black;
    }

    .pot_1{
        background: #f0b432;
        color: black;
    }

    .pot_2 {
        background: green;
    }

    .pot_3 {
        background: blue;
    }

    .pot_4 {
        background: red;
    }

    .pot_5 {
        background: purple;
    }

    
</style>